body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

.navbar {
    width: 100%;
    background-color: #2874f0;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    z-index: 10;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
}

.logo-explore{
    text-decoration: none;
    font-style: italic;
    color: white;
}

.logo-plus{
    color: yellow;
}

/* searchbar */

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

.searchinput{
    width: 27vw;
    height: 36px;
    font-size: 14px;
    align-items: center;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: none;
}

.searchbutton{
    height: 3vh;
    margin-left: -40px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

/* login */

.loginbtn{
    color: #2874f0;
    height: 20px;
    margin-left: 50px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}

/* become a seller */

.seller{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    text-decoration: none;
}

/* more-dropdown */

.moredropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moretxt{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
}

.svg-more{
    rotate: -90deg;
    margin-left: 7px;
    cursor: pointer;
    /* transition: 0.1s; */
}

.svg-more:hover{
    transform: rotate(180deg);
}


/* cart */

.cart{
    margin-left: 30px;
    text-decoration: none;
}

.svg-cart{
   width: 16px;
   height: 16px;
}

.cart-name{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 4px;
}

/* top-section */
.main-section{
   padding: 0 50px;
}

.section{
    padding: 10px;
}

.category-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
}

.cat{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: black;
    margin-left: 60px;
}

.cat-name{
    font-weight: 500;
    font-size: 14px;
    margin-top: 4px;
}


/* deals of the day section */

.deals-of-day{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deals-left{
    display: flex;
    flex-direction: row;
}

.deals{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.timer{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time{
    margin-left: 7px;
    opacity: .5;
    font-size: 16px;
}

.viewbtn{
    background-color: #2874f0;
    color: white;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 9px 22px;
    text-transform: uppercase;
}


/* items-section */

.items-and-ad{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: auto;
    height: 40vh;
    padding: 8px;
    width: 100%;
}

.ad{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.ad-img{
    height: 40vh;
}

.item{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.item-img-class{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-name{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-price{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #388e3c;
    padding-top: 8px;
}

.item-special-thing{
    opacity: .6;
    padding-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* particular categoty section */

.category{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-left{
    display: flex;
    flex-direction: column;
}

.category-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.shop-now{
    opacity: .5;
    font-size: 16px;
    margin-top: 10px;
}

.p-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: auto;
    height: 40vh;
    width: 100%;
    margin-top: 3px;
}

.p-item{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.p-item-img-class{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-item-name{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-item-price{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #388e3c;
    padding-top: 8px;
}

.p-item-special-thing{
    opacity: .6;
    padding-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}